@model prueba1.Models.Grupo

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del grupo</h2>

<div class="row small-spacingr" style="margin-left: 35vh;">
    <div class="col-lg-10 col-xs-12">
        <div class="box-content card white">


            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Grupo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreGrupo)
                </dd>
                <dt>
                    Sede
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sede)
                </dd>

                <dt>
                    Cuatrimestre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cuatrimestre)
                </dd>

                <dt>
                    Curso
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso.nombreCurso)
                </dd>

                <dt>
                    Profesor
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profesor.nombreProfesor)
                </dd>

            </dl>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.idGrupo }) |
            @Html.ActionLink("Volver a la lista", "Index")
        </p>
