@model prueba1.Models.Profesor

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de profesor</h2>

<div class="row small-spacingr" style="margin-left: 35vh;">
    <div class="col-lg-10 col-xs-12">
        <div class="box-content card white">


            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Nombre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreProfesor)
                </dd>

                <dt>
                    Apellido
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidoProfesor)
                </dd>

                <dt>
                    Rol
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rol)
                </dd>

                <dt>
                    Contraseña
                </dt>

                <dd>
                    Información privada
                </dd>

                <dt>
                    Usuario
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreUsuario)
                </dd>

                <dt>
                    Correo electrónico
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.emailProfesor)
                </dd>

                <dt>
                    Estado
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>

            </dl>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Crear reporte", "Reporte", new { id = Model.idProfesor })|
            @Html.ActionLink("Editar", "Edit", new { id = Model.idProfesor }) |
            @Html.ActionLink("Volver a la lista", "Index")
        </p>
